/*
.thumbnail{

	border: 0;
	box-shadow: none;
}
*/
.thumbnail{
    padding: 0;
}
/*
.caption {
	text-align: center;
}
*/

/*
.caption-full{
    padding: 9px;
}
*/
.imagegrid{
	display: flex;
	flex-wrap: wrap;
}

.navbar-brand{
	position: absolute;
	width:100%;
	text-align: center;
	left:5;
	top:0;
}

.center-elements{
	margin: 20px auto;
	text-align: center;
	width: 30%;
}

.no-margin{
	margin:0;
}

.sidebar{
    margin-top: 10px;
}